
# GitHub Python GitIgnore ----------------------------------------------------------------------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.pt
testvenv
testvenv/*
*.png
.DS_Store
app/main_local.py